{% assign general = site.data.general %}
{% assign contacts = site.data.contacts %}

<!-- begin aside -->
<aside class="layout__aside aside">
  <h1 class="aside__title title title--h1">{{ general.title }}</h1>

  <div class="aside__subttl">
    <div class="aside-text">{{ general.position }}</div>
    <!-- <div class="aside__text">{{ general.salary }}</div> -->
  </div>

  

  <div class="aside__block">{{ general.hello }}</div>

  <ul class="aside__block contacts">
    {% for i in contacts %}
    <li class="contacts__contact contact">
      <div class="contact__icons">
        {% for j in i.icons %}
        {% assign mod = 'contact__icon' %}
        {% include iconsHTML/_{{ j.icon }}.html %}
        {% endfor %}
      </div>
      
      
      <div class="contact__title" title="{{ i.title }}">{{ i.text }}</div>
    </li>
    {% endfor %}
  </ul>
</aside>
<!-- end aside -->

