{% assign education = site.data.education %}

<!-- begin resume-block -->
<div class="resume-block">
  <h3 class="resume-block__title title title--h3">{{ education.title }}</h3>

  <div class="resume-block__text">
    {% for i in education.schools %}
    <!-- begin experience -->
    <dl class="experience">
      {% for j in i.meta %}
      <dt class="experience__title">{{ j.title }}</dt>
      <dd class="experience__text">{{ j.text }}</dd>
      {% endfor %}
    </dl>
    <!-- end experience -->
    {% endfor %}

  </div>
</div>
<!-- end resume-block -->
