<!-- begin meta-blok -->
<div class="main-meta__block meta-block">
  {% if block.icon %}
  {% assign mod = 'meta-block__icon' %}
    {% include iconsHTML/_{{ block.icon }}.html %}
  {% endif %}
  
  <h2 class="meta-block__title title title--h2">{{ block.title }}</h2>

  <div class="meta-block__content">
    {% if block.metaBlocks %}
      {% for i in block.metaBlocks %}
        {% for j in i.meta %}
        <!-- begin experience -->
        <div class="meta-block__block experience">
          {% if j.title %}
          <h3 class="experience__title title title--h3">{{ j.title }}</h3>
          {% endif %}

          {% if j.subttl %}
          <div class="experience__subttl">{{ j.subttl }}</div>
          {% endif %}
          
          {% if j.time %}
            <div class="experience__time"> {{ j.time }}</div>
          {% endif %}
          <div class="experience__text"> {{ j.text }}</div>          
        </div>
        <!-- end experience -->
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</div>
<!-- end meta-blok -->  