.main-meta
  &__block
    &:not(:last-child)
      margin-bottom: rem(20)

.meta-block
  $this: &
  position: relative
  padding-left: rem(30)
  &__icon
    position: absolute
    z-index: 1
    top: 0.05em
    left: 0
    font-size: em(24)
    &.icon--all-done
      fill: transparent
      path:nth-child(2)
        fill: currentColor
  &__title
    margin-bottom: rem(5)
  &__block
    &:not(:last-child)
      margin-bottom: rem(10)

  &--grid
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: .5em
    #{$this}__title
      grid-column-start: 1
      grid-column-end: 3
