body
  background-color: $white

  min-width: 320px
  
  font-family: 'Karla', sans-serif
  font-size: $fz-sm
  line-height: 1.4
  color: $black
  
  +smmin
    font-size: $fz

a
  color: inherit
  transition: color 300ms
  &:hover
    color: $gray

.icon
  display: inline-block  
  vertical-align: baseline

  fill: currentColor
