$black:  #000
$white:  #fff
$light:   #eee
$accent: #000

$fz-base:    16
$fz-base-sm: 14
$fz:         $fz-base + px
$fz-sm:      $fz-base-sm + px

\:root
  --accent: $accent

=sm
  @media (max-width: 767px)
    @content

=smmin
  @media (min-width: 768px)
    @content

@function em($size, $context: $fz-base)
  @return ($size/$context) * 1em

@function rem($size, $context: $fz-base)
  @return ($size/$context) * 1rem
  