.layout
  +xsmin
    display: flex
  &__aside    
    padding: rem(30) rem(15)
    +xsmin
      width: rem(300)
  &__body    
    padding: rem(30) rem(15)
    +xsmin
      width: calc(100% - #{rem(300)})
